/#Python chap 2.py
/#Question .py
/#Question 5.py
/.DS_Store
/Task3.py
/Untitled.ipynb
/greek arcitec-1.html
/index.html
/m
/main copy.htm
/main copy.html
/main.html
/q5
/trial
/workspace.code-workspace