/* These are the colors the background w/opacity and Main heading text and position*/

body {background-color: rgb(12, 14, 15); background-image: url("bkround.png");
    background-repeat: repeat-x; background-position: right top;
}
  
  body {color: rgb(139, 123, 127);
    margin-left: 20px;
    margin-right: 20px;
    
}



a:link {
    color: rgb(139, 94, 94);
}

a:visited {
        color: rgb(62, 66, 66);
}


  
ul {
    background: #0c0c0c;
    padding: 16px;
    margin: 190px;
  }
  
  ul li {
    background: #000000;
    margin: 10px;
  }

  
  
