/* These are the colors the background w/opacity and Main heading text and position*/

body {background-color: rgb(12, 14, 15); background-image: url("https://lh3.googleusercontent.com/wWu0f3j-APiF7F9X_6B2vWecI3w5HOwacpwP22D7TNCvBq5l1hOSMVeTg78mYwfz29bag-pVWnns3Nk6cgrPVwaxo8-iQvj_pDMLIgsoHjcj1EYhiYBTU0mNVGmHPlEGhSeQr7IjZIpauCmArHqvN5lZr0fQeibB33JOlMyZ8cZsxoBxSTg-9LaBNyCg8yXPmQ2k1QQVA7FtkpS78Yp7YqfdqvQxIg6iIkoydwLaFSvh9HHqQgXv2RYO0CHIAmpuCfWHpjoX7VRH0wVkku41gur1leTIU3LfYkjMOEznUbtTAakf5geHyYEkBFeZJQebVSZSCNpT7N21jObLNESh-BeWFj5F99-6Qn4vKh24LpxIcUCHoS3GEVjidOPrJeZVw2vdZLh3-nSv8IgQpj7JnnLp1cKRv-f_tLGQaIAettjiS4L0I8ZrPQ5RphTErcTj6ZIlaVB5YRoNO-Cq2IeFY_MfbWT8RVwqzdSI9TyN1z-nOkLbPMarjzgeibMyCHeuUKjxemkhjRaMuZUIFLhM3_EI4JvgrgGYwjcVmNfdP39KR8o-PWC-JR1EFS5r_m70Up6gwKypPhAw4rdlD-00zl2_wC1QFzldHEELXKavvWZcO-0MRm27bZrUMJSJ64GDpjkMfJ0UmEEKqSRRD8-H1giit_qZOUkIpc7bpjj_Vn3TKRelu0AKAZ-FJ8NukQ_T40DCDjqQIyDaOfAi6cKBe_Y=w768-h1024-no?authuser=0");
    background-repeat: repeat-x; background-position: right top;
}
  
  body {color: rgb(139, 123, 127);
    margin-left: 20px;
    margin-right: 20px;
    
}



a:link {
    color: rgb(139, 94, 94);
}

a:visited {
        color: rgb(62, 66, 66);
}


  
ul {
    background: #0c0c0c;
    padding: 16px;
    margin: 190px;
  }
  
  ul li {
    background: #000000;
    margin: 10px;
  }

  
  